/* The body tag */
body{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

/* container */
#body-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto;
    grid-row-gap: 10px;
    grid-template-areas: 
    "nav"
    "body";
    background-color: rgba(133, 133, 173, 0.3);
}

/* Navigation */
#body-container #nav{
  grid-area: nav;
  background-color: rgba(60, 179, 113, 0.6);
}

/* Body */
#body-container #body{
    grid-area: body;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* new password form container */
#body-container #body #new-password-container{
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
    width: minmax(200px, 300px);
    background-color: white;
}

/* heading */
#body-container #body #new-password-container h2{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.7);
    padding: 0;
    text-align: center;
}

/* Errors container */
#body-container #body #new-password-container #newpassword-errors{
    margin-bottom: 10px;
    text-align: center;
    display: none;
}

/* Error messages section */
#body-container #body #new-password-container #newpassword-errors li{
    color: rgba(255, 0, 0, 0.7);
}

/* new password form */
#body-container #body #new-password-container form{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 30px 30px 30px;
    grid-row-gap: 10px;
    grid-template-areas: 
    "password password"
    "confirmpassword confirmpassword"
    ". submit";
}

/* new password input tag */
#body-container #body #new-password-container #password{
    grid-area: password;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

/* confirm password input tag */
#body-container #body #new-password-container #confirmpassword{
    grid-area: confirmpassword;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

/* submit input tag */
#body-container #body #new-password-container #submit{
    grid-area: submit;
    background-color: rgba(0, 0, 255, 0.5);
    border: 0.2px solid rgba(0, 0, 255, 0.5);
    border-radius: 2px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease-in-out;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
}

/* submit input tag on hover*/
#body-container #body #new-password-container #submit:hover{
    background-color: blue;
}

/* ============================================== Media queries ==================================================== */
@media (min-width: 768px){
    /* new password form container */
    #body-container #body #new-password-container{
        width: 350px;
    }
    /* new password form */
    #body-container #body #new-password-container form{
        grid-template-rows: 35px 35px 35px;
    }
    /* heading */
    #body-container #body #new-password-container h2{
        font-size: 19px;
    }
}