/* The body tag */
body{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

/* container */
#body-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto;
    grid-template-areas: 
    "nav"
    "body";
}

/* Navigation bar */
#body-container #nav{
    grid-area: nav;
    border: 1px solid lightblue;
    background-color: lightblue;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation items */
#body-container #nav #right-item{
    text-decoration-line: none;
    font-size: 17px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 255, 0.5);
    padding: 6px;
    transition: 0.4s ease-in-out;
    border-radius: 3px;
    margin-right: 5px;
}

/* Navigation items on hover */
#body-container #nav #right-item:hover{
    background-color: rgba(0, 0, 255, 0.8);
}

/* left navigation item */
#body-container #nav #left-item{
    text-decoration-line: none;
    font-size: 21px;
    color: rgba(0, 0, 255, 0.5);
    font-weight: 900;
}

/* Body div */
#body-container #body{
    grid-area: body;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
    "leftbar contentbody"
    "leftbar contentbody";
    height: 100vh;
}

/* Left bar */
#body-container #body #left-bar{
    grid-area: leftbar;
}

/* Menu items */
#body-container #body #left-bar #menu-items{
    width: 148px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 20px;
    grid-row-gap: 10px;
    margin-top: 12px;
    margin-right: 0;
    padding: 0;
}

/* Menu buttons */
#body-container #body #left-bar #menu-items button{
    margin-right: 0;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    background-color: rgba(173, 216, 230, 0.2);
    border: 1px solid rgba(173, 216, 230, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    outline: none;
    transition: 0.4s ease-in-out;
}

/* Active menu button */
#body-container #body #left-bar #menu-items .active{
    border-top: 1px solid rgba(173, 216, 230, 1);
    border-bottom: 1px solid rgba(173, 216, 230, 1);
    border-right:4px solid rgba(0, 0, 255, 0.8);
    background-color: rgba(173, 216, 230, 0.1);
}

/* Content section */
#body-container #body #content{
    grid-area: contentbody;
    border-left: 0.5px solid rgba(0, 0, 0, 0.3);
}

/* Update heading */
#body-container #body #content #update-div h3{
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 22px;
}

/*====================================================== update form ===============================================================*/
/* update div */
#body-container #body #content #update-div{
    display: none;
}
#body-container #body #content #update-div #form-div{
    display: grid;
    grid-template-columns: 150px 2fr 150px;
    grid-template-areas: 
    "left-div update-form right-div";
}
#body-container #body #content #update-div #form-div #left-div{
    grid-area: left-div;
}
#body-container #body #content #update-div #form-div #right-div{
    grid-area: right-div;
}
#body-container #body #content #update-div #update-form{
    grid-area: update-form;
    margin: 20px;
    padding: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: grid;
    /* grid-template-columns: 80px 250px 80px 250px 70px; */
    grid-template-columns: 0.5fr 2fr 0.5fr 2fr;
    grid-auto-rows: 30px;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    grid-template-areas: 
    "usernamelabel usernamebox emaillabel emailbox"
    "rolelabel rolebox . imagebox"
    "professionlabel professionbox educationlabel educationbox"
    "companylabel companybox . ."
    ". . . updatebutton";
}

/* username label */
#body-container #body #content #update-form #username-label{
    grid-area: usernamelabel;
}

/* username textbox */
#body-container #body #content #update-form #username{
    grid-area: usernamebox;
}

/* email label */
#body-container #body #content #update-form #email-label{
    grid-area: emaillabel;
}

/* email textbox */
#body-container #body #content #update-form #email{
    grid-area: emailbox;
}

/* role label */
#body-container #body #content #update-form #role-label{
    grid-area: rolelabel;
}

/* role textbox */
#body-container #body #content #update-form #role{
    grid-area: rolebox;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/* image textbox */
#body-container #body #content #update-form #image-div{
    grid-area: imagebox;
}

/* profesiion label */
#body-container #body #content #update-form #profession-label{
    grid-area: professionlabel;
}

/* profession textbox */
#body-container #body #content #update-form #profession{
    grid-area: professionbox;
}

/* eduaction label */
#body-container #body #content #update-form #education-label{
    grid-area: educationlabel;
}

/* education textbox */
#body-container #body #content #update-form #education{
    grid-area: educationbox;
}

/* company label */
#body-container #body #content #update-form #company-label{
    grid-area: companylabel;
}

/* company textbox */
#body-container #body #content #update-form #company{
    grid-area: companybox;
}

/* Update submit button */
#body-container #body #content #update-form #update-button{
    grid-area: updatebutton;
    background-color: rgba(0, 0, 255, 0.5);
    border: 0.2px solid rgba(0, 0, 255, 0.5);
    border-radius: 2px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease-in-out;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
}

/* Update submit button on hover*/
#body-container #body #content #update-form #update-button:hover{
    background-color: blue;
}

/* update form text boxes */
#body-container #body #content #update-div #update-form input[type="text"]{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

/* update form labels */
#body-container #body #content #update-div #update-form label{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
}

/* Upload picture div */
#body-container #body #content #update-div #update-form #image-div{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* upload picture input element */
#body-container #body #content #update-div #update-form #image-div input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    display: inline-block;
}

/* Upload picture label */
#body-container #body #content #update-div #update-form #image-div label{
    margin-right: 0px;
    height: 30px;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: 0.4s ease-in-out;
}

/* Upload picture label on hover */
#body-container #body #content #update-div #update-form #image-div label:hover{
    background-color: rgba(0,0,255,0.5);;
}

/* upload picture text */
#body-container #body #content #update-div #update-form #image-div label p{
    background-color: white;
    padding: 2px;
    border-radius: 3px;
    margin-left: 10px;
}

/* ====================================================Profile information ===================================================== */
#body-container #body #content #profile-div{
    display: none;
}
#body-container #body #content .profile-div{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 40px 30px 215px 30px 180px;
    grid-row-gap: 20px;
    grid-template-areas:
    "profile-info-head profile-info-head profile-info-head"
    ". pic-heading ."
    ". profile-pic ."
    ". info-heading ."
    "info-container info-container info-container";
}
#body-container #body #content .profile-div #info-container{
    grid-area: info-container;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    ". profile-info .";
}
#body-container #body #content .profile-div #profile-info{
    padding-top: 25px;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    /* border-radius: 5px; */
    display: grid;
    /* grid-template-columns: 0.5fr 2fr 0.5fr 2fr; */
    grid-template-columns: 90px 300px 90px 300px;
    grid-template-rows: 35px 35px 35px;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    grid-area: profile-info;
}

/* Profile information values */
#body-container #body #content .profile-div #profile-info .info-value{
    background-color: rgba(245,245,245, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* profile picture */
#body-container #body #content .profile-div #profile-picture{
    border-radius: 110px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-image: url("../img/man.jpg");
    background-size: cover;
    grid-area: profile-pic; 
}

/* information label */
#body-container #body #content .profile-div #profile-info .info-label{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    font-weight: bold;
    font-size: 14px;
    /* border: 1px solid black; */
}

/* profile information heading */
#body-container #body #content .profile-div #profile-info-heading{
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    /* border: 1px solid black; */
    grid-area: profile-info-head;
}
/* The profile picture heading */
#body-container #body #content .profile-div #profile-pic-heading{
    grid-area: pic-heading;

}
/* The profile information heading */
#body-container #body #content .profile-div #profile-info-head{
    grid-area: info-heading;
}
#body-container #body #content .profile-div .profile-info-sub-heading{
    font-size: 21px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    /* border: 1px solid black; */
}
#body-container #body #content #questions-div{
    display: block;
}
