
html{
    scroll-behavior: smooth;
}
/* The body tag */
body{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

/* Container div */
#container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto auto auto 40px;
    grid-row-gap: 5px;
    grid-template-areas: 
    "nav"
    "body"
    "left-bar"
    "right-bar"
    "footer";
}

/* Navigation div */
#container #nav{
    grid-area: nav;
    background-color: rgba(60, 179, 113, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Body. content section */
#container #body-container{
    grid-area: body;
    /* border: 1px solid black; */
    background-color: rgba(133, 133, 173, 0.3);
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
}

/* left bar */
#container #left-side-bar{
    grid-area: left-bar;
    /* border: 1px solid black; */
    background-color: rgba(133, 133, 173, 0.3);
}

/* right bar */
#container #right-side-bar{
    grid-area: right-bar;
    /* border: 1px solid black; */
    background-color: rgba(133, 133, 173, 0.3);
}

/* footer */
#container #footer{
    grid-area: footer;
    background-color: rgba(60, 179, 113, 0.6);
}

/* ================== Navigation components =========================*/
/* anchor tags */
#container #nav a{
    text-decoration-line: none;
    /* color: black; */
    font-weight: bold;
}

/* left link */
#container #nav #left-link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 27px;
    color: rgba(134, 89, 45, 1);
    font-weight: 1000;
    /* border: 1px solid black; */
}

/* right link */
#container #nav #right-link{
    /* border: 1px solid black; */
    padding: 5px;
    background-color: rgba(0, 0, 255, 0.3);
    border: 1px solid rgba(0, 0, 255, 0.3);
    color: white;
    border-radius: 2px;
    transition: 0.4s ease-in-out;
    margin-right: 5px;
}

#container #nav #right-link:hover{
    background-color: blue;
}
/*========================== Question title and description ========================*/

/* flash error messages */
#container #body-container #flash-messages{
    background-color: red;
    padding: 3px;
    position: absolute;
    top: 250px;
    left: 20px;
    color: white;
    border-radius: 3px;
    display: none;
    width: 200px;
}

#container #body-container #title-description-container{
    margin: 10px 20px 0px 20px;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 15px;
}

#container #body-container #title-description-container #title-section{
    font-size: 20px;
    font-weight: bold;
}
#container #body-container #title-description-container #description-section{
    background-color:rgba(192,192,192,0.8);
    border-radius: 5px;
    padding: 3px;
}

/* time posted and views */
#container #body-container #title-description-container span{
    margin-right: 5px;
}

/* Member's div container */
#container #body-container #title-description-container #question-author-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* #container #body-container #title-description-container #question-author-div{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    ". . . . . . . postedbyimage postedby";
} */

/* Answers heading container */
#container #body-container #answers-heading{
    /* border: 1px solid black; */
    margin: 0px 20px 0px 20px;
    background-color: white;
    border-radius: 5px;
    padding-left: 5px;
}
/* All answers heading */
#container #body-container #answers-heading h3{
    /* border-bottom:1px solid rgba(192,192,192,0.8); */
    padding-bottom: 4px;
    font-size: 17px;
    color: rgba(0,0,0,0.7);
    margin-bottom: 5px;
}

/* post answer heading container */
#container #body-container #post-answer-heading{
    margin: 0px 20px 0px 20px;
    background-color: white;
    padding-left: 5px;
}
/* An answer heading */
#container #body-container #post-answer-heading h3{
    /* border-bottom:1px solid rgba(192,192,192,0.8); */
    padding-bottom: 4px;
    font-size: 17px;
    color: rgba(0,0,0,0.7);
    margin-bottom: 5px;
}

/* posted image container */
#container #body-container #title-description-container #posted-question-image-container{
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: auto;
    overflow-x: auto;
    /* border: 1px solid black; */
    
}
#container #body-container #title-description-container #posted-question-image-container #posted-question-image{
    /* width: 200px;
    height: 200px; */
    cursor: pointer;
    /* border: 1px solid rgba(0,0,0,0.3); */
    /* padding: 5px; */
    border-radius: 5px;
    /* max-height: 0; */
    /* overflow: auto; */
}
/* posted image modal  */
#container #body-container #title-description-container #posted-image-modal{
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}
#container #body-container #title-description-container #image-modal{
    height: 400px;
    width: 600px;
}
/* Image of a member who posted the question */
#container #body-container #title-description-container div .posted-by-image{
    height: 30px;
    width: 30px;
    padding: 5px;
    border: 1px solid lightblue;
    /* grid-area: postedbyimage; */
}

/* The member's user name */
#container #body-container #title-description-container div a{
    text-decoration-line: none;
    color: blue;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 5px;
    /* grid-area: postedby; */
}
/* Question owner name and image container */
#container #body-container #title-description-container #who-posted-image{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
}

/*=========================================== Answers Body ========================================= */

/* ======================================= All answers ======================================== */

/* container holding all answers */
#container #body-container #answers-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 20px;
    margin: 0px 20px 0px 20px;
}

/* Answers line separator */
#container #body-container #answers-container .answers-separator{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

/* user and his/her answer container */
#container #body-container #answers-container .user-answer{
    /* margin: 0px 20px 0px 20px; */
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    display: grid;
    /* grid-template-columns: 100px 1fr; */
    grid-template-columns: minmax(20px, 60px) minmax(100px, 1fr);
    grid-template-rows: 30px auto 40px auto;
    grid-row-gap: 10px;
    grid-template-areas: 
    "number header"
    "number answer"
    "number answer-footer"
    "number comments";
}

/* change color of the answer container when targeted */
#container #body-container #answers-container .user-answer:target {
    border: 1px solid rgba(0,0,0,0.2);
    animation-name: comment;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

/* answers's number */
#container #body-container #answers-container .user-answer .answer-number{
    position: relative;
    grid-area: number;
    /* display: flex;
    flex-direction: column;
    padding: 5px; */
    /* min-width: 40px;
    max-width: 80px; */
    display: grid;
    grid-template-columns: minmax(20px, 1fr);
    grid-template-rows: 40px 40px 40px 100px;
    grid-row-gap: 2px;
    /* border: 1px solid black; */
}

/* change color of the vote container when targeted */
#container #body-container #answers-container .user-answer .answer-number:target {
    animation-name: comment;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

/* Vote up arrow */
#container #body-container #answers-container .user-answer .answer-number .arrow-up{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid rgba(0,0,0,0.3);
    cursor: pointer;
    /* border: 1px solid black; */
    margin-left: 10px;
}

/* Vote down arrow */
#container #body-container #answers-container .user-answer .answer-number .arrow-down{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid rgba(0,0,0,0.3); 
    cursor: pointer;
    margin-left: 10px;
    /* border: 1px solid black; */
}

/* Votes*/
#container #body-container #answers-container .user-answer .answer-number .votes{
    color: rgba(0,0,0,0.7);
    width: 30px;
    font-size: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    /* border: 1px solid black; */
}

/* tick mark container */
#container #body-container #answers-container .user-answer .answer-number .mark-answer-correct{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* tick mark */
#container #body-container #answers-container .user-answer .answer-number .mark-answer-correct span{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    /* border: 1px solid black; */
}
#container #body-container #answers-container .user-answer .answer-number .mark-answer-correct .activetick{
    color: green;
}
/* Voting errors */
#container #body-container #answers-container .user-answer .answer-number .vote-error-container{
    background-color: red;
    position: absolute;
    left: 55px;
    top: 30px;
    width: 100px;
    color: white;
    border-radius: 5px;
    padding: 3px;
    display: none;
}
/* answer's header container */
#container #body-container #answers-container .user-answer .answer-header{
    grid-area: header;
    display: flex;
    flex-direction: row-reverse;
    /* border: 1px solid black; */
}
/* Time posted container */
#container #body-container #answers-container .user-answer .answer-header .time-posted{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
    font-size: 10px;
    color: rgba(0,0,0,0.7);
    /* border: 1px solid black; */
}
/* delete and edit icons container */
#container #body-container #answers-container .user-answer .answer-header .edit-delete-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid black; */
}

/* Edit answer icon */
#container #body-container #answers-container .user-answer .answer-header .edit-delete-icons .edit-icon{
    color: blue;
    font-size: 14px;
    background-color:rgba(192,192,192,0.8);
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    margin-right: 5px;
    height: 17px;
    width: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Edit answer icon on hover */
#container #body-container #answers-container .user-answer .answer-header .edit-delete-icons .edit-icon:hover{
    color: green;
}

/* Delete answer icon */
#container #body-container #answers-container .user-answer .answer-header .edit-delete-icons .delete-icon{
    color: blue;
    background-color:rgba(192,192,192,0.8);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    height: 17px;
    width: 17px;
    align-items: center;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* delete answer icon on hover */
#container #body-container #answers-container .user-answer .answer-header .edit-delete-icons .delete-icon:hover{
    color: red;   
}

/* Answer container */
#container #body-container #answers-container .user-answer .the-answer{
    grid-area: answer;
    background-color:rgba(192,192,192,0.7);
    border-radius: 3px;
    display:  grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    overflow: hidden;
    
}

/* answer paragraph */
#container #body-container #answers-container .user-answer .the-answer p{
    padding: 0px;
    margin-top: 0;
    margin-bottom: 0;
    max-height: auto;
    overflow: hidden;
    transition: 0.6s ease-in-out;
}

/*==== Uploaded answer image container =====*/
#container #body-container #answers-container .user-answer .the-answer .uploaded-answer-image{
    /* border: 1px solid black; */
    /* border-radius: 5px;
    padding: 0px; */
    /* overflow: hidden; */
    /* max-height: 0; */
    /* transition: max-height 0.7s ease-in-out; */
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: auto;
    overflow-x: auto;
    /* display: none; */
}

/* Uploaded answer image */
#container #body-container #answers-container .user-answer .the-answer .uploaded-answer-image .the-uploaded-answer-image{
    /* width: 100px;
    height: 200px; */
    /* border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px; */
    /* margin-top: 5px;
    margin-left: 5px; */
    border-radius: 5px;
}
/* answer's footer */
#container #body-container #answers-container .user-answer .answer-footer{
    grid-area: answer-footer;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}

/*========================================== Comments ==================================*/
#container #body-container #answers-container .user-answer .comments{
    grid-area: comments;
}

/* comment error container*/
#container #body-container #answers-container .user-answer .comments .add-comment-errors{
    color: rgba(255, 0, 0, 0.7);
    font-size: 13px;
    max-height: 0px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* comment error element */
#container #body-container #answers-container .user-answer .comments .add-comment-errors li{
    margin-left: 10px;
    text-align: center;
}

/* Comments Section container */
#container #body-container #answers-container .user-answer .comments .coment-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3px;
}

/* comment container*/
#container #body-container #answers-container .user-answer .comments .coment-section .comment{
    display: grid;
    grid-template-columns: minmax(80px, 1fr);
    grid-row-gap: 3px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 5px;
    background-color: rgba(133, 133, 173, 0.3);  
}

/* The comment */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .the-comment{
    background-color: rgba(51, 153, 102, 0.3);
    display: inline;
    padding: 5px;
    border-radius: 5px;
}

/* comment container animation */
@keyframes comment{
    0% {background-color: rgba(51, 153, 102, 0.3);}
    25% {background-color: rgba(255, 255, 102, 0.4);}
    50% {background-color: rgba(255, 255, 102, 0.5);}
    75% {background-color: rgba(255, 255, 102, 0.6);}
    100%{background-color: rgba(151, 153, 51, 0.3);}
}

/* change color of the comment container when targeted */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .the-comment:target {
    background-color: rgba(51, 153, 102, 0.3);
    animation-name: comment;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

/* Comment's author name and picture container */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .user-comment{
    /* display: flex;
    flex-direction: row-reverse;
    align-items: center; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

/* Comment's author picture */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .user-comment img{
    height: 25px;
    width: 25px;
    margin-right: 3px;
}

/* Comment's author name */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .user-comment a{
    text-decoration: none;
    color: rgba(0, 0, 255, 0.8);
    font-size: 11px;
}

/* edit comment */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .user-comment .edit-comment{
    color: rgba(0, 0, 255, 0.6);
    font-size: 13px;
    text-decoration: underline;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
/* edit comment on hover */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .user-comment .edit-comment:hover{
    color: green;
}
/* delete comment */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .user-comment .delete-comment{
    color: rgba(0, 0, 255, 0.6);
    font-size: 13px;
    text-decoration: underline;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
/* delete comment on hover */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .user-comment .delete-comment:hover{
    color: red;
}
/* Add comment container */
#container #body-container #answers-container .user-answer .comments .add-comment{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 25px;
    align-items: center;
    margin-top: 0px;
}

/* Add comment title */
#container #body-container #answers-container .user-answer .comments .add-comment .add-comment-title{
    margin-right: 5px;
    color: rgba(0, 0, 255, 0.6);
}

/* Add comment form */
#container #body-container #answers-container .user-answer .comments .add-comment .add-comment-form{
    display: grid;
    /* grid-template-columns: 3fr 1fr; */
    grid-template-columns: minmax(80px, 3fr) minmax(20px, 1fr);
    grid-column-gap: 3px;
}

/* add comment input textbox */
#container #body-container #answers-container .user-answer .comments .add-comment .add-comment-form .coment-text-box{
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 2px;
}

/* add comment submit button */
#container #body-container #answers-container .user-answer .comments .add-comment .add-comment-form .submit-comment-button{
    font-size: 6px;
    padding: 0px;
    background-color: rgba(0, 0, 255, 0.6);
    border: rgba(0, 0, 255, 0.6);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#container #body-container #answers-container .user-answer .comments .coment-section .comment .edit-comment-form .comment-errors{
    color: rgba(255, 0, 0, 0.7);
    font-size: 13px;
    max-height: 0px;
    padding: 0px;
    transition: 0.4s ease-in-out;
    overflow: hidden;
}
#container #body-container #answers-container .user-answer .comments .coment-section .comment .edit-comment-form .comment-errors li{
    padding: 0px;
}
/* Edit comment form */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .edit-comment-form{
    display: none;
    /* display: grid; */
    grid-template-columns: minmax(80px, 1fr);;
    grid-row-gap: 2px;
    /* border: 1px solid black; */
    padding: 3px;
}
/* edit comment textbox div*/
#container #body-container #answers-container .user-answer .comments .coment-section .comment .edit-comment-form .edit-comment-div{
    /* border: 1px solid black; */
    padding: 3px;
    display: grid;
    grid-template-columns: minmax(80px, 1fr);
}

/* edit comment textbox */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .edit-comment-form .edit-comment-div .edit-comment-input{
    padding: 3px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

/* submit edited comment button container*/
#container #body-container #answers-container .user-answer .comments .coment-section .comment .edit-comment-form .edit-comment-submit-div{
    /* border: 1px solid black; */
    padding: 3px;
    display: flex;
    flex-direction: row-reverse;
}

/* edit comment cancel button */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .edit-comment-form .edit-comment-submit-div .edit-comment-cancel{
    border: 1px solid grey;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-right: 3px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.2);
    outline: none;
}

/* Cancel button on hover */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .edit-comment-form .edit-comment-submit-div .edit-comment-cancel:hover{
    color: red;
}

/* Submit edited comment button */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .edit-comment-form .edit-comment-submit-div .edit-comment-submit{
    outline: none;
    font-weight: bold;
    background-color: rgba(0, 255, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    cursor: pointer;
    color: blue;
    transition: 0.4s ease-in-out;
}

/* submit on hover */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .edit-comment-form .edit-comment-submit-div .edit-comment-submit:hover{
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 255, 0, 1);
}

/* =============================================== confirm delete comment modal =========================================== */
/* confirm delete background */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .confirm-delete-comment-background{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Confirm delete container */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .confirm-delete-comment-background .confirm-delete-comment{
    width: 200px;
    border: 1px solid lightgreen;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 60px 40px;
    border-radius: 2px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -50px;

}

/* Confirm delete title container */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .confirm-delete-comment-background .confirm-delete-comment .confirm-delete-comment-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(0, 255, 0, 0.5);
    background-color: rgba(60, 179, 113, 1);
    padding-left: 3px;
    /* color: white; */
}

/* Confirm delete body container */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .confirm-delete-comment-background .confirm-delete-comment .confirm-delete-comment-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(0, 255, 0, 0.5);
    background-color: white;
    padding-left: 3px;
}

/* Confirm delete footer container */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .confirm-delete-comment-background .confirm-delete-comment .confirm-delete-comment-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgba(60, 179, 113, 1);
}

/* Confirm delete cancel button */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .confirm-delete-comment-background .confirm-delete-comment .confirm-delete-comment-footer .delete-comment-cancel{
    padding: 5px;
    border: 1px solid lightgray;
    margin: 3px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.4s ease-in-out;
}

/*  Confirm delete delete button  */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .confirm-delete-comment-background .confirm-delete-comment .confirm-delete-comment-footer .delete-comment-delete{
    padding: 8px;
    border: 1px solid lightgray;
    font-weight: bold;
    background-color: red;
    margin: 3px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.4s ease-in-out;
}

/* cancel button on hover */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .confirm-delete-comment-background .confirm-delete-comment .confirm-delete-comment-footer .delete-comment-cancel:hover{
    color: rgba(0, 0, 0, 0.4);
}

/* submit button on hover */
#container #body-container #answers-container .user-answer .comments .coment-section .comment .confirm-delete-comment-background .confirm-delete-comment .confirm-delete-comment-footer .delete-comment-delete:hover{
    background-color: rgba(255, 0, 0, 0.8);
}
/* End of confirm delete */

/*==================================== edit answer form element=========================================== */
/* Edit answer container */
#container #body-container #answers-container .user-answer .the-answer .edit-answer{
    padding: 0 0 15px 0;
    margin-top: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    /* border: 1px solid black; */
    /* overflow: auto; */
}
 /*Answer editing form  */
#container #body-container #answers-container .user-answer .the-answer .edit-answer form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 40px;
    grid-row-gap: 2px;
    overflow: auto;
    max-height: 0;
}
/* Errors container */
#container #body-container #answers-container .user-answer .the-answer .edit-answer .edit-answer-errors{
    background-color: white;
    padding: 0px;
    margin: 5px 10px 0px 10px;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

/* Erors section */
#container #body-container #answers-container .user-answer .the-answer .edit-answer .edit-answer-errors li{
    color: rgba(255, 0, 0, 0.7);
    font-size: 14px;
    padding-left: 5px;
}

/* edit answer textarea */
#container #body-container #answers-container .user-answer .the-answer .edit-answer form textarea{
    resize: none;
    border: none;
    outline: none;
    margin: 10px;
}

/* Submit and cancel container */
#container #body-container #answers-container .user-answer .the-answer .edit-answer form .cancel-submit{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid black; */
}

/* submit edited answer button */
#container #body-container #answers-container .user-answer .the-answer .edit-answer form .submit-edited-answer{
    cursor: pointer;
    padding: 7px 4px 7px 4px;
    font-size: 8px;
    font-weight: bold;
    background-color: lightgreen;
    border: 1px solid green;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    margin-right: 1px;
    height: 23px;
    margin-right: 10px;
}

/* submit edited answer button on hover */
#container #body-container #answers-container .user-answer .the-answer .edit-answer form .submit-edited-answer:hover{
    color: blue;
}

/* cancel edited answer button */
#container #body-container #answers-container .user-answer .the-answer .edit-answer form .cancel-button{
    cursor: pointer;
    padding: 5px 4px 7px 4px;
    font-size: 10px;
    font-weight: bold;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    margin-right: 2px;
    height: 23px;
}

/* cancel edited answer button on hover */
#container #body-container #answers-container .user-answer .the-answer .edit-answer form .cancel-button:hover{
    color: red;
}
/* === container to display the edited answer picture to be uploaded === */
#container #body-container #answers-container .user-answer .the-answer .edit-answer form .edit-answer-image{
    /* grid-area: answer-image; */
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    padding: 0px;
    margin: 0 5px 0 5px;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
    background-color: white;
    
}

/* the edited image to be uploaded */
#container #body-container #answers-container .user-answer .the-answer .edit-answer form .edit-answer-image .the-edited-answer-image{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid rgba(0,0,0,0.3);
}
/* === end of picture container === */
/*==== answer upload edited image container ===*/
#container #body-container #answers-container .user-answer .the-answer .edit-answer form .cancel-submit .edit-answer-image-container{
    margin-right: 2px;
    margin-bottom: 0px;
    position: relative;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
}

/* answer edit picture upload input*/ 
#container #body-container #answers-container .user-answer .the-answer .edit-answer form .cancel-submit .edit-answer-image-container input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
    overflow: hidden;
    /* border: 1px solid black; */
    position: absolute;
    top: 3px;
    left: 5px;
	z-index: 12;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.5);
}

/* answer edit picture upload label*/ 
#container #body-container #answers-container .user-answer .the-answer .edit-answer form .cancel-submit .edit-answer-image-container label{
    font-size: 10px;
    font-weight: 700;
    background-color: black;
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 255, 0.5);
    height: 20px;
    background-color: rgba(0, 0, 255, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: initial;
    color: white;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    /* margin-top: 2.5px; */
}

/* answer upload edited image button container (background image)*/ 
#container #body-container #answers-container .user-answer .the-answer .edit-answer form .cancel-submit .edit-answer-image-container .edit-answer-upload-image{
    background-image: url(../img/upload.png);
    background-repeat: no-repeat;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* answer upload button container background image */ 
#container #body-container #answers-container .user-answer .the-answer .edit-answer form .cancel-submit .edit-answer-image-container .edit-answer-upload-image img{
    width: 10px;
    height: 10px;
}
/*==== end of upload button ===*/

/* ================================================ Confirm delete answer ================================================== */

/* confirm delete background */
#container #body-container #answers-container .user-answer .the-answer .confirm-delete-answer-background{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Confirm delete container */
#container #body-container #answers-container .user-answer .the-answer .confirm-delete-answer-background .confirm-delete-answer{
    width: 200px;
    border: 1px solid rgba(0, 255, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 60px 40px;
    border-radius: 2px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -50px;

}

/* Confirm delete title container */
#container #body-container #answers-container .user-answer .the-answer .confirm-delete-answer-background .confirm-delete-answer .confirm-delete-answer-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(0, 255, 0, 0.5);
    background-color: rgba(60, 179, 113, 1);
    padding-left: 5px;
}

/* Confirm delete body container */
#container #body-container #answers-container .user-answer .the-answer .confirm-delete-answer-background .confirm-delete-answer .confirm-delete-answer-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(0, 255, 0, 0.5);
    background-color: white;
    padding-left: 5px;
}

/* Confirm delete footer container */
#container #body-container #answers-container .user-answer .the-answer .confirm-delete-answer-background .confirm-delete-answer .confirm-delete-answer-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgba(60, 179, 113, 1);
}

/* Confirm delete cancel button */
#container #body-container #answers-container .user-answer .the-answer .confirm-delete-answer-background .confirm-delete-answer .confirm-delete-answer-footer .delete-answer-cancel{
    padding: 5px;
    border: 1px solid lightgray;
    margin: 3px;
    font-weight: bold;
    cursor: pointer;
}

/*  Confirm delete delete button  */
#container #body-container #answers-container .user-answer .the-answer .confirm-delete-answer-background .confirm-delete-answer .confirm-delete-answer-footer .delete-answer-delete{
    padding: 8px;
    border: 1px solid lightgray;
    font-weight: bold;
    background-color: red;
    margin: 3px;
    color: white;
    cursor: pointer;
}
/* End of confirm delete */

/* answer's owner container */
#container #body-container #answers-container .user-answer .answer-footer .name-image{
    width: 200px;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: center; */
    align-items: center;
    height: 40px;
}

/* owner's image */
#container #body-container #answers-container .user-answer .answer-footer .name-image img{
    height: 30px;
    width: 30px;
    padding: 5px;
    border: 1px solid lightblue;
    cursor: pointer;
    margin-right: 5px;
}

/* owner's link */
#container #body-container #answers-container .user-answer .answer-footer .name-image  a{
    text-decoration-line: none;
    font-size: 12px;
    color: blue;
}
/* =============================================== Form to submit an answer ==========================================*/
/* Answer error container */
#container #body-container #answer-errors{
    background-color: white;
    padding: 0px;
    margin: 5px 10px 0px 10px;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}
/* Answer errors list tag */
#container #body-container #answer-errors li{
    color: rgba(255, 0, 0, 0.7);
    font-size: 14px;
    padding-left: 5px;
}
/* answer form container */
#container #body-container #answers-form-container{
    border-radius: 5px;
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 0px 20px 20px 20px;
    background-color: white;
}
/* Answer form */
#container #body-container #answers-form-container form{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 180px auto 50px;
    grid-row-gap: 5px;
    grid-template-areas:
    "answer"
    "answer-image"
    "submit";
    height: auto;
}


/* Answer textarea */
#container #body-container #answers-form-container form #answer{
    grid-area: answer;
    resize: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    border-right: none;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: normal;
}

/* Answer submit button div container */
#container #body-container #answers-form-container form #submit-answer{
    grid-area: submit;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
}

/* submit answer button */
#container #body-container #answers-form-container form #submit-answer input{
    padding: 8px;
    border-radius: 5px;
    width: 50px;
    height: 35px;
    background-color: rgba(0, 0, 255, 0.6);
    border: 1px solid rgba(0, 0, 255, 0.6);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* submit answer button on hover */
#container #body-container #answers-form-container form #submit-answer input:hover{
    background-color: blue;
}

/* === container to display the answer picture to be uploaded === */
#container #body-container #answers-form-container form .answer-image{
    grid-area: answer-image;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    padding: 0px;
    margin: 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

/* the image to be uploaded */
#container #body-container #answers-form-container form .answer-image .the-answer-image{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid rgba(0,0,0,0.3);
}
/* === end of picture container === */

/*==== answer upload image container ===*/
#container #body-container #answers-form-container form #submit-answer .answer-image-container{
    margin-right: 5px;
    margin-bottom: 0px;
    position: relative;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
}

/* answer picture upload input*/ 
#container #body-container #answers-form-container form #submit-answer .answer-image-container input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
    overflow: hidden;
    /* border: 1px solid black; */
    position: absolute;
    top: 3px;
    left: 5px;
	z-index: 12;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.5);
}

/* answer picture upload label*/ 
#container #body-container #answers-form-container form #submit-answer .answer-image-container label{
    font-size: 15px;
    font-weight: 700;
    background-color: black;
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 255, 0.5);
    height: 35px;
    background-color: rgba(0, 0, 255, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: initial;
    color: white;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    height: 25px;
}

/* answer upload button container background image*/ 
#container #body-container #answers-form-container form #submit-answer .answer-image-container .answer-upload-image{
    background-image: url(../img/upload.png);
    background-repeat: no-repeat;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* answer upload button container background image */ 
#container #body-container #answers-form-container form #submit-answer .answer-image-container .answer-upload-image img{
    width: 20px;
    height: 20px;
}
/*==== end of upload button ===*/
/* ======================================= Media queries =========================== */

 @media (min-width: 768px){
    
    #container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 40px auto 40px;
    grid-column-gap: 5px;
    grid-template-areas: 
    "nav nav nav"
    "left-bar body right-bar"
    "footer footer footer";
    }
 
    #container #left-side-bar{
        grid-area: left-bar;
    }


    #container #right-side-bar{
        grid-area: right-bar;
    }

    /* total votes container */
    #container #body-container #answers-container .user-answer .answer-header .total-votes{
        width: 150px;
        margin-left: 5px;
    }

    /* upvotes container */
    #container #body-container #answers-container .user-answer .answer-header .total-votes .upvotes{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-right: 5px;
        border-right: 1px solid rgba(0,0,0,0.3);
        font-size: 13px;
        color: rgba(0,0,0,0.8);
        padding: 0;
        padding-right: 5px;
    }

    /* downvotes container */
    #container #body-container #answers-container .user-answer .answer-header .total-votes .downvotes{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding:0px;
        font-size: 13px;
        color: rgba(0,0,0,0.8);
        padding-left: 5px;
        margin: 0;
    }

    /* Time posted container */
    #container #body-container #answers-container .user-answer .answer-header .time-posted{
        font-size: 10px;
        width: 50px;
    }

    /* edit answer icon */
    #container #body-container #answers-container .user-answer .answer-header .edit-delete-icons .edit-icon{
        font-size: 15px;
        height: 17px;
        width: 18px;
    }

    /* delete answer icon */
    #container #body-container #answers-container .user-answer .answer-header .edit-delete-icons .delete-icon{
        height: 17px;
        width: 17px;
        font-size: 11px;
    }

    /* Add comment container */
    #container #body-container #answers-container .user-answer .comments .add-comment{
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 25px;
        align-items: center;
        margin-top: 10px;
    }

    /* add comment submit button */
    #container #body-container #answers-container .user-answer .comments .add-comment .add-comment-form .submit-comment-button{
        font-size: 10px;
        padding: 0px;
    }

    /* Vote up arrow */
    #container #body-container #answers-container .user-answer .answer-number .arrow-up{
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 30px solid rgba(0,0,0,0.5);
        cursor: pointer;
    }

    /* Vote down arrow */
    #container #body-container #answers-container .user-answer .answer-number .arrow-down{
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 30px solid rgba(0,0,0,0.5);
        cursor: pointer;
    }

    /* Votes*/
    #container #body-container #answers-container .user-answer .answer-number .votes{
        color: rgba(0,0,0,0.7);
        width: 30px;
        font-size: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
    }

    /* Votes container */
    #container #body-container #answers-container .user-answer .answer-number{
        grid-area: number;
        display: grid;
        grid-template-columns: minmax(20px, 60px);
        grid-template-rows: 40px 40px 40px 40px;
        grid-row-gap: 3px;
        /* border: 1px solid black; */
    
    }
    /* posted question image container */
    #container #body-container #title-description-container #posted-question-image-container{
        display: grid;
        grid-template-columns: minmax(100px, 1fr);
        grid-template-rows: auto;
        overflow-x: auto;
        /* border: 1px solid rgba(0, 0, 0, 0.3); */
        padding: 5px;
    }
    /* posted question image modal container  */
    #container #body-container #title-description-container #posted-image-modal{
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
    }
    /* posted question modal image*/
    #container #body-container #title-description-container #image-modal{
        height: 800px;
        width: 900px;
    }

    /*==== Uploaded answer image container =====*/
    #container #body-container #answers-container .user-answer .the-answer .uploaded-answer-image{
        /* border: 1px solid black; */
        border-radius: 5px;
        padding: 0px;
        /* overflow: hidden; */
        /* max-height: 0; */
        /* transition: max-height 0.7s ease-in-out; */
        display: grid;
        grid-template-columns: minmax(80px, 1fr);
        grid-template-rows: auto;
        overflow-x: auto;
        /* display: none; */
    }

    /* Uploaded answer image */
    #container #body-container #answers-container .user-answer .the-answer .uploaded-answer-image .the-uploaded-answer-image{
        /* width: 400px;
        height: 600px; */
        /* border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 5px; */
        /* margin-top: 5px;
        margin-left: 5px; */
        border-radius: 5px;
    }
    /* comment container*/
    #container #body-container #answers-container .user-answer .comments .coment-section .comment{
        display: grid;
        grid-template-columns: minmax(80px 1fr);
        grid-row-gap: 3px;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 3px;
        padding: 5px;
        background-color: rgba(133, 133, 173, 0.3);  
    }
    
    /* Comment's author name and picture container */
    #container #body-container #answers-container .user-answer .comments .coment-section .comment .user-comment{
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;
        /* border: 1px solid black; */
    }
    /* edit comment */
    #container #body-container #answers-container .user-answer .comments .coment-section .comment .user-comment .edit-comment{
        color: rgba(0, 0, 255, 0.6);
        font-size: 13px;
        text-decoration: underline;
        margin-right: 5px;
        cursor: pointer;
        transition: 0.4s ease-in-out;
    }

    /* submit edited answer button */
    #container #body-container #answers-container .user-answer .the-answer .edit-answer form .submit-edited-answer{
        cursor: pointer;
        padding: 10px;
        font-size: 13px;
        font-weight: bold;
        background-color: lightgreen;
        border: 1px solid green;
        border-radius: 5px;
        transition: 0.4s ease-in-out;
        margin-right: 10px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* cancel edited answer button */
    #container #body-container #answers-container .user-answer .the-answer .edit-answer form .cancel-button{
        cursor: pointer;
        padding: 10px;
        font-size: 13px;
        font-weight: bold;
        background-color: lightgray;
        border: 1px solid gray;
        border-radius: 5px;
        transition: 0.4s ease-in-out;
        margin-right: 5px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Submit and cancel container */
    #container #body-container #answers-container .user-answer .the-answer .edit-answer form .cancel-submit{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        /* border: 1px solid black; */
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /* === container to display the edited answer picture to be uploaded === */
    #container #body-container #answers-container .user-answer .the-answer .edit-answer form .edit-answer-image{
        /* grid-area: answer-image; */
        /* border: 1px solid rgba(0, 0, 0, 0.3); */
        padding: 0px;
        margin: 0 5px 0 5px;
        max-height: 0;
        transition: max-height 0.4s ease-in-out;
        overflow: hidden;
        background-color: white;
        
    }

    /* the edited image to be uploaded */
    #container #body-container #answers-container .user-answer .the-answer .edit-answer form .edit-answer-image .the-edited-answer-image{
        width: 200px;
        height: 200px;
        border-radius: 5px;
        padding: 2px;
        border: 1px solid rgba(0,0,0,0.3);
        
    }
    /* === end of picture container === */
    /*==== answer upload edited image container ===*/
    #container #body-container #answers-container .user-answer .the-answer .edit-answer form .cancel-submit .edit-answer-image-container{
        margin-right: 5px;
        margin-bottom: 0px;
        position: relative;
        /* border: 1px solid rgba(0, 0, 0, 0.3); */
    }

    /* answer edit picture upload input*/ 
    #container #body-container #answers-container .user-answer .the-answer .edit-answer form .cancel-submit .edit-answer-image-container input{
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        /* border: 1px solid black; */
        position: absolute;
        top: 3px;
        left: 5px;
        z-index: 12;
        cursor: pointer;
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: black;
        display: inline-block;
        background-color: rgba(0, 0, 255, 0.5);
    }

    /* answer edit picture upload label*/ 
    #container #body-container #answers-container .user-answer .the-answer .edit-answer form .cancel-submit .edit-answer-image-container label{
        font-size: 15px;
        font-weight: 700;
        background-color: black;
        display: inline-block;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 255, 0.5);
        height: 35px;
        background-color: rgba(0, 0, 255, 0.5);
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: initial;
        color: white;
        border-radius: 5px;
        transition: 0.4s ease-in-out;
        height: 30px;
    }

    /* answer upload edited image button container (background image)*/ 
    #container #body-container #answers-container .user-answer .the-answer .edit-answer form .cancel-submit .edit-answer-image-container .edit-answer-upload-image{
        background-image: url(../img/upload.png);
        background-repeat: no-repeat;
        cursor: pointer;
        width: 25px;
        height: 25px;
        margin-right: 5px;
        margin-left: 5px;
        background-color: white;
        border-radius: 5px;
        padding: 1px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* answer upload button container background image */ 
    #container #body-container #answers-container .user-answer .the-answer .edit-answer form .cancel-submit .edit-answer-image-container .edit-answer-upload-image img{
        width: 25px;
        height: 25px;
    }
    /*==== end of upload button ===*/
    
    /* comment error container*/
    #container #body-container #answers-container .user-answer .comments .add-comment-errors{
        color: rgba(255, 0, 0, 0.7);
        font-size: 13px;
        max-height: 0px;
        overflow: hidden;
        transition: 0.4s ease-in-out;
        margin-top: 10px;
        margin-bottom: 0px;

    }
     /*================ Post Answer ============== */
     /* === container to display the answer picture to be uploaded === */
     #container #body-container #answers-form-container form .answer-image{
         grid-area: answer-image;
         /* border: 1px solid rgba(0, 0, 0, 0.3); */
         padding: 0px;
         margin: 0px;
         max-height: 0;
         overflow: hidden;
         transition: max-height 0.4s ease-in-out;
     }
     
     /* the image to be uploaded */
     #container #body-container #answers-form-container form .answer-image .the-answer-image{
         width: 200px;
         height: 200px;
         border-radius: 5px;
         padding: 2px;
         border: 1px solid rgba(0,0,0,0.3);
     }
     /* === end of picture container === */
     
     /*==== answer upload image container ===*/
     #container #body-container #answers-form-container form #submit-answer .answer-image-container{
         margin-right: 5px;
         margin-bottom: 0px;
         position: relative;
         /* border: 1px solid rgba(0, 0, 0, 0.3); */
     }
     
     /* answer picture upload input*/ 
     #container #body-container #answers-form-container form #submit-answer .answer-image-container input{
         width: 0.1px;
         height: 0.1px;
         opacity: 0;
         overflow: hidden;
         /* border: 1px solid black; */
         position: absolute;
         top: 3px;
         left: 5px;
         z-index: 12;
         cursor: pointer;
         font-size: 1.25em;
         font-weight: 700;
         color: white;
         background-color: black;
         display: inline-block;
         background-color: rgba(0, 0, 255, 0.5);
     }
     
     /* answer picture upload label*/ 
     #container #body-container #answers-form-container form #submit-answer .answer-image-container label{
         height: 30px;
     }
     
     /* answer upload button container background image*/ 
     #container #body-container #answers-form-container form #submit-answer .answer-image-container .answer-upload-image{
         background-image: url(../img/upload.png);
         background-repeat: no-repeat;
         cursor: pointer;
         width: 25px;
         height: 25px;
         margin-right: 5px;
         margin-left: 5px;
         background-color: white;
         border-radius: 5px;
         padding: 1px;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
     }
     
     /* answer upload button container background image */ 
     #container #body-container #answers-form-container form #submit-answer .answer-image-container .answer-upload-image img{
         width: 25px;
         height: 25px;
     }
     /* submit answer button */
    #container #body-container #answers-form-container form #submit-answer input{
        width: 90px;
        height: 30px;
    }
    /* Confirm delete container */
    #container #body-container #answers-container .user-answer .comments .coment-section .comment .confirm-delete-comment-background .confirm-delete-comment{
        width: 300px;
        margin-left: -150px;
        margin-top: -50px;
    }
    /* Confirm delete answer parent container */
    #container #body-container #answers-container .user-answer .the-answer .confirm-delete-answer-background .confirm-delete-answer{
        width: 300px;
        margin-left: -150px;
        margin-top: -50px;

    }
    /* Voting errors */
    #container #body-container #answers-container .user-answer .answer-number .vote-error-container{
        background-color: red;
        position: absolute;
        left: 40px;
        top: 50px;
        width: 300px;
        color: white;
        border-radius: 5px;
        padding: 3px;
        display: none;
    }
    /* flash error messages */
    #container #body-container #flash-messages{
        background-color: red;
        padding: 3px;
        position: absolute;
        top: 270px;
        left: 150px;
        color: white;
        border-radius: 3px;
        width: auto;
        display: none;
    }
}
