<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newpassword.css') }}">
    <title>Create a new password</title>
</head>
<body>
    <!-- body container -->
    <div id="body-container">
        <!-- navigation -->
        <div id="nav">

        </div>
        <!-- body -->
        <div id="body">
            <!-- new password container-->
            <div id="new-password-container">
                <!-- heading -->
                <h2>Create a new password</h2>
                <!-- Errors container -->
                <div id="newpassword-errors">
                    <!-- Error messages -->
                    <li></li>
                </div>
                <!-- new password form -->
                <form action="#" method="post" id="password-form">
                    <input type="password" name="password" id="password" placeholder="new password">
                    <input type="password" name="confirmpassword" id="confirmpassword" placeholder="confirm new password">
                    <input type="submit" value="Submit" id="submit">
                </form>

            </div>
        </div>
    </div>
<script  src="{{ url_for('static', filename='js/newpassword.js' ) }}"></script>  
</body>
</html>