<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <title>Andrew profile</title>
</head>
<body>
    <!-- Body container -->
    <div id="body-container">
        <!-- navigation bar -->
        <div id="nav">
            <a href="{{ url_for('questions.home_view_questions') }}" id="left-item">Help</a>
            <a href="{{ url_for('questions.home_view_questions') }}" id="right-item">Questions</a>
        </div>
        <!-- Body -->
        <div id="body">
            <!-- left bar -->
            <div id="left-bar">
                <!-- Menu items -->
                <div id="menu-items">
                    <button id="questions" class="sidebar-button active">Questions</button>
                    <button id="update" class="sidebar-button">Update profile</button>
                    <button id="profile" class="sidebar-button">Profile</button>
                </div>
            </div>
            <!-- content -->
            <div id="content">
                <!--=============================== 
                              Update 
                ==================================-->
                <div id="update-div">
                    <!-- heading -->
                    <h3>Update profile</h3>
                    <!--================================
                              Form to update the profile 
                    ====================================-->
                    <div id="form-div">
                        <div id="left-div"></div>
                        <div id="right-div"></div>
                        <div id="update-form-div">
                            <div id="error">
                                This an error
                            </div>
                            <form  id="update-form">
                                <!-- Fullname -->
                                <label for="username" id="username-label">Fullname:</label>
                                <input type="text" name="fullname" id="username">
                                <!-- Email -->
                                <label for="email" id="email-label">Email:</label>
                                <input type="text" name="email" id="email">
                                <!-- Role -->
                                <label for="role" id="role-label">Role:</label>
                                <select id="role" name="role">
                                    <option value=""></option>
                                    <option value="false">user</option>
                                    <option value="true">Moderate user</option>
                                </select>
                                <!-- profile picture -->
                                <div id="image-div">
                                    <label for="image" id="image-label">
                                        <p>Upload image</p> 
                                    </label>
                                    <input type="file" name="image" id="image" disabled>
                                </div>
                                <!-- submit button -->
                                <input type="submit" value="Update" id="update-button">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End of update profile -->

                <!--=============================== 
                            Profile info section 
                ===================================-->
                <div id="profile-div">
                    <div class="profile-div">
                        <div id="profile-info-heading">Profile information</div>
                   
                        <div id="profile-info-head" class="profile-info-sub-heading">
                            Basic information
                        </div>
                        <!-- Profile info -->
                        <div id="info-container">
                            <div id="profile-info">
                                <label for="" class="info-label">Fullname:</label>
                                <label for="" class="info-value"></label>
                                <label for="" class="info-label">Email:</label>
                                <label for="" class="info-value"></label>
                                <label for="" class="info-label">Role:</label>
                                <label for="" class="info-value"></label>
                            </div>
                        </div>
                        <!-- Stats -->
                        <div id="profile-stats">
                            Stats
                        </div>
                        <div id="info-stats-container">
                            <div id="profile-info-stats">
                                <label for="" class="info-label">Questions:</label>
                                <label for="" class="info-value questionscoount">0</label>
                                <label for="" class="info-label">Answers:</label>
                                <label for="" class="info-value answerscoount">0</label>
                                <label for="" class="info-label">Correct answers:</label>
                                <label for="" class="info-value correctanswerscoount">0</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!--================================== 
                            questions the user asked 
                ======================================-->
                <div id="questions-div">
                </div>

            </div>
            <!-- End of content -->
            <!-- Loading circle -->
           <div id="loader">
                <div class="loading">
            
                </div>
            </div>
        </div>
    </div>
<script src="{{ url_for('static', filename='js/profile.js' ) }}"></script> 
</body>
</html>