<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resetpassword.css') }}">
    <title>Reset password</title>
</head>
<body>
    <!-- Body container -->
    <div id="body-container">
        <!-- navigation -->
        <div id="nav">
            <a href="{{ url_for('index') }}" id="left-item">FindHelp</a>
            <div id="right-item">
                <a href="{{ url_for('signin.login') }}" id="signin">Signin</a>
                <a href="{{ url_for('signin.signup') }}" id="signup">Signup</a>
            </div>
        </div>
        <!-- reset password body -->
        <div id="reset-body">
            <!-- reset container -->
            <div id="reset-container">
                <h2>Enter your email to reset your password</h2>
                <div id="reset-errors">
                    <li></li>
                </div>
                <!-- reset password form -->
                <form method="post" id="reset-form">
                    <input type="text" name="email" id="email" placeholder="Provide your email">
                    <input type="submit" value="Submit" id="submit">
                </form>
                <!-- signin and signup links -->
                <div id="signin-signup-links">
                    <a href="{{ url_for('signin.login') }}" id="login">Login</a>
                    <a href="{{ url_for('signin.signup') }}" id="register">Register</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/resetpassword.js' ) }}"></script>
</body>
</html>